* {
    color: white;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 50px auto;
}

.uicontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vh;
    background-color: #222121;
    height: 800px;
    width: auto;
    padding: 0 20px 0 20px;
}

.containerAndHeader {
    background-color: #222121;
    height: 800px;
    width: auto;
    padding: 0 20px 0 20px;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
}

.square {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.button {
    background-color: #f20d0d;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.button:active {
    background-color: #a00000;
}

.fa-github:hover {
    color: #f20d0d;
    animation-name: barrelRoll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.discoOn {
    background-color: #0d70f2;
    font-size: 12px;
}

@keyframes barrelRoll {
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}